*.iml
.gradle
/mobile-app/local.properties
/mobile-app/.idea/caches
/mobile-app/.idea/libraries
/mobile-app/.idea/modules.xml
/mobile-app/.idea/workspace.xml
/mobile-app/.idea/navEditor.xml
/mobile-app/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
mobile-app/local.properties
